<ion-view hide-back-button="true">
    <ion-nav-title>BikeRaleigh <span class="badge badge-assertive">beta</span></ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-positive icon ion-ios-list-outline" href="#/app/legend">
      </a>    
      <button class="button button-clear button-positive icon ion-ios-navigate" ng-click="geoLocate()" ng-class="{'ion-ios-navigate': locating, 'ion-ios-navigate-outline': !locating}">
      </button>
    </ion-nav-buttons>
  <ion-content scroll="false">
	<div id="mapWrapper" data-tap-disabled="true">
  		<div id="map"></div>
  	</div>
  </ion-content>
</ion-view>
